Red-NODE/Todays Graph.json
[
    {
        "id": "8882ab01.b94138",
        "type": "tab",
        "label": "Todays Graph",
        "disabled": false,
        "info": ""
    },
    {
        "id": "52ee58ce.f88948",
        "type": "ui_template",
        "z": "8882ab01.b94138",
        "group": "3e86ac6a.9a4134",
        "name": "myhead",
        "order": 3,
        "width": "12",
        "height": "12",
        "format": "<script src=\"//code.jquery.com/jquery-1.11.3.min.js\"></script>\n<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<script src=\"https://code.highcharts.com/modules/export-data.js\"></script>\n<script src=\"https://code.highcharts.com/modules/accessibility.js\"></script>\n\n<div id=\"containerDaysAct\" style=\"min-width: 800px; height: 900px; margin: 0 auto\"></div>\n<div id=\"containerHoursAct\" style=\"min-width: 800px; height: 900px; margin: 0 auto\"></div>\n\n<style>\n#containerDaysAct {\n    height: 400px; \n}\n\n.highcharts-figure, .highcharts-data-table table {\n    min-width: 310px; \n    max-width: 800px;\n    margin: 1em auto;\n}\n\n.highcharts-data-table table {\n    font-family: Verdana, sans-serif;\n    border-collapse: collapse;\n    border: 1px solid #EBEBEB;\n    margin: 10px auto;\n    text-align: center;\n    width: 100%;\n    max-width: 500px;\n}\n.highcharts-data-table caption {\n    padding: 1em 0;\n    font-size: 1.2em;\n    color: #555;\n}\n.highcharts-data-table th {\n\tfont-weight: 600;\n    padding: 0.5em;\n}\n.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {\n    padding: 0.5em;\n}\n.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {\n    background: #f8f8f8;\n}\n.highcharts-data-table tr:hover {\n    background: #f1f7ff;\n}\n#containerHoursAct {\n    height: 400px; \n}\n\n.highcharts-figure, .highcharts-data-table table {\n    min-width: 310px; \n    max-width: 800px;\n    margin: 1em auto;\n}\n\n.highcharts-data-table table {\n    font-family: Verdana, sans-serif;\n    border-collapse: collapse;\n    border: 1px solid #EBEBEB;\n    margin: 10px auto;\n    text-align: center;\n    width: 100%;\n    max-width: 500px;\n}\n.highcharts-data-table caption {\n    padding: 1em 0;\n    font-size: 1.2em;\n    color: #555;\n}\n.highcharts-data-table th {\n\tfont-weight: 600;\n    padding: 0.5em;\n}\n.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {\n    padding: 0.5em;\n}\n.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {\n    background: #f8f8f8;\n}\n.highcharts-data-table tr:hover {\n    background: #f1f7ff;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "global",
        "x": 620,
        "y": 380,
        "wires": [
            [
                "a3da7959.931568"
            ]
        ]
    },
    {
        "id": "a3da7959.931568",
        "type": "ui_template",
        "z": "8882ab01.b94138",
        "group": "3e86ac6a.9a4134",
        "name": "JS HighC Days Activity",
        "order": 5,
        "width": "15",
        "height": "10",
        "format": "\n<figure class=\"highcharts-figure\">\n    <div id=\"containerDaysAct\"></div>\n</figure>\n\n\n<script>\n (function(scope) {\n    setTimeout(function(){\n        var a = scope.msg.payload; \n        console.log(scope.msg)\n        console.log(a)\n        console.log(a[0][0])\n     \n        Highcharts.chart('containerDaysAct', {\n            chart: {\n                type: 'column'\n            },\n            title: {\n                text: 'Weekly Activity by Day'\n            },\n            xAxis: {\n                categories: ['Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']\n            },\n            yAxis: {\n                min: 0,\n                title: {\n                    text: 'Time Percentage'\n                }\n            },\n            tooltip: {\n                pointFormat: '<span style=\"color:{series.color}\">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',\n                shared: true\n            },\n            plotOptions: {\n                column: {\n                    stacking: 'percent'\n                }\n            },\n            series: [{\n                name: 'Normal',\n                data: a[0][0]\n            }, {\n                name: 'Active',\n                data: a[0][1]\n            }]\n        });\n    });\n })(scope);\n\n\n</script>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 840,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a539d80e.d58088",
        "type": "link in",
        "z": "8882ab01.b94138",
        "name": "",
        "links": [
            "c2ea6043.3090d"
        ],
        "x": 415,
        "y": 380,
        "wires": [
            [
                "52ee58ce.f88948"
            ]
        ]
    },
    {
        "id": "b8e143ba.54d21",
        "type": "ui_template",
        "z": "8882ab01.b94138",
        "group": "3e86ac6a.9a4134",
        "name": "JS HighC Hours Activity",
        "order": 6,
        "width": "15",
        "height": "10",
        "format": "\n<figure class=\"highcharts-figure\">\n    <div id=\"containerHoursAct\"></div>\n</figure>\n\n\n<script>\n (function(scope) {\n    setTimeout(function(){\n        console.log(scope.msg)\n        var a = scope.msg.payload; \n        console.log(a)\n        console.log(a[0][0])\n     \n        Highcharts.chart('containerHoursAct', {\n            chart: {\n                type: 'column'\n            },\n            title: {\n                text: 'Weekly Activity by Hour'\n            },\n            xAxis: {\n                categories: ['00','1', '2', '3', '4', '5', '6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23']\n            },\n            yAxis: {\n                min: 0,\n                title: {\n                    text: 'Time Percentage'\n                }\n            },\n            tooltip: {\n                pointFormat: '<span style=\"color:{series.color}\">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',\n                shared: true\n            },\n            plotOptions: {\n                column: {\n                    stacking: 'percent'\n                }\n            },\n            series: [{\n                name: 'Normal',\n                data: a[0][0]\n            }, {\n                name: 'Active',\n                data: a[0][1]\n            }]\n        });\n    });\n })(scope);\n\n\n</script>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 830,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1c363f5c.59fcb1",
        "type": "link in",
        "z": "8882ab01.b94138",
        "name": "",
        "links": [
            "7de30b87.a49ce4"
        ],
        "x": 420,
        "y": 480,
        "wires": [
            [
                "b8e143ba.54d21"
            ]
        ]
    },
    {
        "id": "3e86ac6a.9a4134",
        "type": "ui_group",
        "z": "",
        "name": "Graphs",
        "tab": "5e176623.d4a868",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "5e176623.d4a868",
        "type": "ui_tab",
        "z": "",
        "name": "Recent Data",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]